<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huawei.staycuteblog.mapper.AboutBlogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.huawei.staycuteblog.entity.AboutBlog">
		<id column="blog_id" property="blogId" />
		<result column="blog_keyword" property="blogKeyword" />
		<result column="blog_description" property="blogDescription" />
		<result column="blog_name" property="blogName" />
		<result column="blog_title" property="blogTitle" />
	</resultMap>

</mapper>
