<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huawei.staycuteblog.mapper.FriendMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.huawei.staycuteblog.entity.Friend">
		<id column="f_id" property="fId" />
		<result column="user_id" property="userId" />
		<result column="friend_id" property="friendId" />
	</resultMap>

</mapper>
