<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huawei.staycuteblog.mapper.PhotoSortMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.huawei.staycuteblog.entity.PhotoSort">
		<id column="sort_img_id" property="sortImgId" />
		<result column="sort_img_name" property="sortImgName" />
		<result column="sort_img_type" property="sortImgType" />
		<result column="img_password" property="imgPassword" />
		<result column="user_id" property="userId" />
		<result column="img_sort_question" property="imgSortQuestion" />
		<result column="img_sort_answer" property="imgSortAnswer" />
		<result column="type_id" property="typeId" />
		<result column="top_pic_src" property="topPicSrc" />
	</resultMap>

</mapper>
