<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huawei.staycuteblog.mapper.StayMessageMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.huawei.staycuteblog.entity.StayMessage">
		<id column="stay_id" property="stayId" />
		<result column="user_id" property="userId" />
		<result column="stay_user_id" property="stayUserId" />
		<result column="message_content" property="messageContent" />
		<result column="stay_user_ip" property="stayUserIp" />
		<result column="message_stay_time" property="messageStayTime" />
		<result column="place" property="place" />
	</resultMap>

</mapper>
