<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huawei.staycuteblog.mapper.SystemMessageMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.huawei.staycuteblog.entity.SystemMessage">
		<id column="system_id" property="systemId" />
		<result column="send_default" property="sendDefault" />
		<result column="system_content" property="systemContent" />
		<result column="system_time" property="systemTime" />
	</resultMap>

</mapper>
