<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huawei.staycuteblog.mapper.UserProblemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.huawei.staycuteblog.entity.UserProblem">
		<id column="problem_id" property="problemId" />
		<result column="user_problem_id" property="userProblemId" />
		<result column="user_problem_comment" property="userProblemComment" />
		<result column="user_problem_datetime" property="userProblemDatetime" />
		<result column="sort_problem_id" property="sortProblemId" />
		<result column="problem_money" property="problemMoney" />
		<result column="Whether_to_solve" property="WhetherToSolve" />
	</resultMap>

</mapper>
