<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>柠檬博客-首页</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="wap-font-scale" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" th:href="@{/default/css/reset.css}">
    <link rel="stylesheet" th:href="@{/default/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/default/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/default/css/swiper.css}">
    <link rel="stylesheet" th:href="@{/default/css/flexslider.css}">
    <link rel="stylesheet" th:href="@{/default/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/default/css/app.css}">
    <link rel="stylesheet" th:href="@{/default/css/index.css}">
</head>
<body>
<!-- Loading -->
<div id="loading" class="loading-layer">
    <div class="adjust-block">
        <div class="load ">
            <span class="sharingan"></span>
            <span class="sharingan"></span>
            <span class="sharingan"></span>
        </div>
    </div>
</div>
<!-- Site Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            <span class="mobile-menu-icon visible-xs">
              <a id="btn-nav" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </span>
            </div>
            <div class="col-sm-10">
                <nav id="site-nav" class="nav-toggle">
                    <ul class="menu">
                        <li><a href="/">首页</a></li>
                        <li><a href="/user/loginpage">登录</a></li>
                        <li><a href="/user/login">注册</a></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Home slider -->
<div id="full-slider" class="flexslider section-slider">
    <ul class="slides">
        <li>
            <img th:src="@{/default/img/q.jpg}" />
            <div class="adjust-block">
                <h2 class="slide-title">欢迎来到柠檬博客</h2>
                <!--<p class="slide-description">欢迎</p>-->
                <div class="btns-row">

                    <a href="/user/loginpage" class="btn btn-tran">登录</a>
                    <a href="#" class="btn btn-tran">注册</a>
                </div>
            </div>
        </li>
        <li>
            <img th:src="@{/default/img/w.jpg}" />
            <div class="adjust-block">
                <h2 class="slide-title">欢迎来到柠檬博客</h2>
                <!--<p class="slide-description">欢迎</p>-->
                <div class="btns-row">

                    <a href="/user/loginpage" class="btn btn-tran">登录</a>
                    <a href="#" class="btn btn-tran">注册</a>
                </div>
            </div>
        </li>
        <li>
            <img th:src="@{/default/img/e.jpg}" />
            <div class="adjust-block">
                <h2 class="slide-title">欢迎来到柠檬博客</h2>
                <!--<p class="slide-description">欢迎</p>-->
                <div class="btns-row">

                    <a href="/user/loginpage" class="btn btn-tran">登录</a>
                    <a href="#" class="btn btn-tran">注册</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="section section-services" align="center">
    <div class="title-block title-sub">
        <h3 class="title-big">我们的功能</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="service-block service-left">
                    <div class="circle-icon feature-icon">
                        <i class="fa fa-wifi"></i>
                    </div>
                    <div class="serv-info">
                        <h3 class="serv-title">节省流量</h3>
                        <p class="serv-desc">不再需要消耗流量下载任何软件，不再需要消耗流量挂机，直接平台一键操作！</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-left">
                    <div class="circle-icon feature-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="serv-info">
                        <h3 class="serv-title">分布式执行</h3>
                        <p class="serv-desc">分布多台服务器各自执行各自功能，再也无需担心因为平台QQ增多而影响到效率。</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-left">
                    <div class="circle-icon feature-icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="serv-info">
                        <h3 class="serv-title">学习宝地</h3>
                        <p class="serv-desc">博主会定时发一些与java有关的帖子,项目经验与项目源码!!</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-left">
                    <div class="circle-icon feature-icon">
                        <i class="fa fa-qq"></i>
                    </div>
                    <div class="serv-info">
                        <h3 class="serv-title">扣扣登录</h3>
                        <p class="serv-desc">支持一个通过QQ来登录博客,免去频繁登录。</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-left">
                    <div class="circle-icon feature-icon">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <div class="serv-info">
                        <h3 class="serv-title">设备兼容</h3>
                        <p class="serv-desc">采用响应式设计，无论电脑、手机、平板均可使用，都会自动适应您的设备。</p></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-left">
                    <div class="circle-icon feature-icon">
                        <i class="fa fa-comment-o"></i>
                    </div>
                    <div class="serv-info">
                        <h3 class="serv-title">在线交流</h3>
                        <p class="serv-desc">本站已开启在线交流功能，用户们可以聊天交友/观看直播/交流网络技术等。</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-pricing">
    <div class="title-block">
        <div class="title-big">柠檬博客赞助博主</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="pricing-tab">
                    <div class="package-title">VIP1</div>
                    <div class="package-price">
                        <span>￥10</span>/RMB</div>
                    <ul class="package-advantage">
                        <li>发布帖子</li>
                        <li>会员图标</li>
                        <li>观看直播</li>
                    </ul>
                    <div class="buy-package">
                        <a class="btn btn-gra" href="/at/qq.php">立即赞助</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-tab">
                    <div class="package-title">VIP2</div>
                    <div class="package-price">
                        <span>￥50</span>/RMB</div>
                    <ul class="package-advantage">
                        <li>会员图标</li>
                        <li>观看直播</li>
                        <li>管理博客</li>
                    </ul>
                    <div class="buy-package">
                        <a class="btn btn-gra" href="/at/qq.php">立即赞助</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-tab">
                    <div class="package-title">VIP3</div>
                    <div class="package-price">
                        <span>￥100</span>/RMB</div>
                    <ul class="package-advantage">
                        <li>观看直播</li>
                        <li>管理博客</li>
                        <li>申请权限</li>
                    </ul>
                    <div class="buy-package">
                        <a class="btn btn-gra" href="/at/qq.php">立即赞助</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-bottom">
    <img th:src="@{/default/img/baiduxylogo.png}" title="百度保障" style="width:90px;padding-top:10px;padding-bottom:10px;">
    <img th:src="@{/default/img/xy.png}" title="百度信誉" style="width:90px;padding-top:10px;padding-bottom:10px;">
    <img th:src="@{/default/img/qcloud-logo.pn}" title="腾讯云" style="width:90px;padding-top:10px;padding-bottom:10px;">
    <p class="copyright">Copyright &copy; 2014 - 2019
        <i class="fa fa-heart heart"></i>
        <a href="#">柠檬博客</a> All Rights Reserved</p></footer>
<script th:src="@{/default/js/jquery.min.js}"></script>
<script th:src="@{/default/js/dianji.js}"></script>
<script th:src="@{/default/js/image-loaded.js}"></script>
<script th:src="@{/default/js/wow.js}"></script>
<script th:src="@{/default/js/swiper.jquery.min.js}"></script>
<script th:src="@{/default/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/default/js/jquery.countto.js}"></script>
<script th:src="@{/default/js/jquery.flexslider.js}"></script>
<script th:src="@{/default/js/app.js}"></script>
<script id="myhk" src="https://music.limh.me/player/js/player.js" key="155719434794" m="1"></script>
</body>
</html>