<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="#"/>
    <link rel="styleSheet" th:href="@{/default/css/main.css}"/>
    <link rel="styleSheet" th:href="@{/layui/css/layui.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>柠檬博客-重置密码</title>
</head>
<body>
<div id="bg">
    <div id="login_wrap">
        <div id="login">
            <div id="status">
                <i style="top: 0">重置</i>
            </div>
            <span>
                <form id="phoneform" action="" method="post">
                    <p class="form p"><i style="font-size: 30px;color: white" class="layui-icon layui-icon-cellphone"></i><input type="text" name="phone"  id="phone"  placeholder="手机号码"></p>
                    <p class="form"><i style="font-size: 30px;color: white" class="layui-icon layui-icon-vercode"></i><input type="text" name="password" id="code" placeholder="验证码"></p>
                    <input type="button" value="获取验证码"  id="phoneSend" class="btn send" style="margin-right: 20px;">
                    <input type="button"  value="重置密码" class="btn reset">
                </form>
                <a href="/user/resetpasswordPage">手机号码已经失效,试试邮箱验证?</a>
                </span>
        </div>

        <div id="login_img"><!-- 图片绘制框 -->
            <span class="circle">
                   <img id="usertitle" src="http://q1.qlogo.cn/g?b=qq&nk=2578615755&s=140" alt="">
                </span>
            <span class="star">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            <span class="fly_star">
                    <span></span>
                    <span></span>
                </span>
            <p id="title">手机重置密码</p>
        </div>
    </div>
</div>
<input type="hidden" id="phoneCode" value="">
</body>
<script type="text/javascript" th:src="@{/default/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script th:inline="javascript">
    //自动居中title
    var name_c = document.getElementById("title")
    name = name_c.innerHTML.split("")
    name_c.innerHTML = ""
    for (i = 0; i < name.length; i++) if (name[i] != ",")name_c.innerHTML += "<i>" + name[i] + "</i>";
    $("#btn").click(function () {
        window.location.href="/user/registeredpage";
    });
    var code = $("#code");
    //手机号注册
    $("#phoneSend").click(function () {
        var c=this;
        var phone = $("#phone").val();
        if(phone==""&&phone.length==0) {
            layer.msg('请填写手机号码哟,不然怎么发送验证码呀!', {icon: 2});
            return false;
        }else if(phone.length!=11) {
            layer.msg('请填写正确的手机号码哟!', {icon: 2});
            return false;
        }else {
            var is=false;
            $.get("/user/selectPhoneTrue","phone=" + phone,function (data) {
                if(data=="false"){
                    layer.msg('对不起,该手机号码未绑定博客账号!', {icon: 2});
                    is=false;
                }else if (data=="true") {
                    time(c);
                    $.get("/user/sendPhone", "phone=" + phone, function (data) {
                        layer.msg("获取验证码成功!", {icon: 1});
                        $("#phoneCode").val(data);
                    }, "text");
                    is=true;
                }
            });
            return is;
        }
    });
    function fphoneYzm(){
        var phoneCode = $("#phoneCode");
        if(code.val()==""&&code.val().length==0) {
            layer.msg('请填写验证码哦!', {icon: 2});
            return false;
        }else if(code.val()!=phoneCode.val()) {
            layer.msg('验证码不正确哦!', {icon: 2});
            return false;
        }
        return true;
    }
    code.blur(fphoneYzm);
    $("#phoneform").submit(function () {
        if(!fphoneYzm()) return false;
        return true;
    });

    //点击之后变成重新发送倒计时
    var wait=60;
    function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value = "获取验证码";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
            o.value = "重新发送"+wait;
            wait--;
            setTimeout(function () {
                time(o)
            }, 1000)
        }
    }
</script>
</html>
